<p>The server has detected a golden cross on a <%= basis.name %> basis for <%= ticker %>.</p>
<br />
<p><%= basis.prevPeriod %>'s EMA-10 (<%= prevEMA10 %>) was below <%= basis.prevPeriod %>'s EMA-20 (<%= prevEMA20 %>).</p>
<p><%= basis.currPeriod %>'s EMA-10 (<%= currEMA10 %>) was above <%= basis.currPeriod %>'s EMA-20 (<%= currEMA20 %>).</p>
<br />
<p>The server has simulated a purchase of <%= shares %> shares at <%= price %> per share.</p>
<p>The server has simulated a total investment into <%= ticker %> of <%= totalInvestment %> with a return of <%= percentReturn %>%.</p>
